:host {
  padding-left: 20px;
  display: grid;
  gap: 20px;
  flex: 1;
  box-sizing: border-box;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  mat-card {
    min-height: 500px;

    mat-card-content {
      padding: 20px;
    }
  }

  mat-card.help, mat-card.changes {
    min-height: 250px;
    margin-bottom: 24px;

    mat-card-content {
      padding: 20px;
    }
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  button, a {
    margin: 0 16px 16px 0;
  }

  textarea {
    width: 100%;
    height: 450px;
    white-space: nowrap;
  }

  .changes {
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;

      li {
        padding-left: 3em;
        margin-bottom: 0.5em;

        .added {
          color: rgb(1, 99, 1);
        }
        .removed {
          color: rgb(179, 3, 3);
        }

        mat-icon {
          margin-left: -2em;
          margin-right: 0.3em;
          vertical-align: top;
          font-size: 1.25em;
        }

        span {
          display: inline-block;
        }
        
      }
    }
  }

  
}