<!-- <div class="container"> -->
  <mat-card class="changes">
    <mat-card-header>
      <mat-card-title>Changes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Not yet implemented
    </mat-card-content>
  </mat-card>

  <mat-card class="jobs-yaml">
    <mat-card-header>
      <mat-card-title>Jobs YAML</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <textarea matInput [(ngModel)]="jobsYaml"></textarea>
    </mat-card-content>
  </mat-card>

  <mat-card class="qualifications-yaml">
    <mat-card-header>
      <mat-card-title>Qualifications YAML</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <textarea matInput [(ngModel)]="qualificationsYaml"></textarea>
    </mat-card-content>
  </mat-card>
<!-- </div> -->