<mat-card class="job-details">
  <mat-card-header>
    <mat-card-title>Job Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="job-detail">
      <label>Title:</label>
      <div *ngIf="!editMode">{{ selectedJob?.title }}</div>
      <input *ngIf="editMode" [(ngModel)]="selectedJob.title" (ngModelChange)="onFieldChange('title', $event)" />
    </div>
    <div class="job-detail">
      <label>Track:</label>
      <div *ngIf="!editMode">{{ selectedJob?.track }}</div>
      <input *ngIf="editMode" [(ngModel)]="selectedJob.track" (ngModelChange)="onFieldChange('track', $event)" />
    </div>
    <div class="job-detail">
      <label>Position:</label>
      <div *ngIf="!editMode">{{ selectedJob?.position }}</div>
      <input *ngIf="editMode" [(ngModel)]="selectedJob.position" (ngModelChange)="onFieldChange('position', $event)" />
    </div>
    <div class="job-detail">
      <label>Category:</label>
      <div *ngIf="!editMode">{{ selectedJob?.category }}</div>
      <input *ngIf="editMode" [(ngModel)]="selectedJob.category" (ngModelChange)="onFieldChange('category', $event)" />
    </div>
    <div class="job-detail">
      <label>Seniority:</label>
      <div *ngIf="!editMode">{{ selectedJob?.seniority }}</div>
      <input *ngIf="editMode" [(ngModel)]="selectedJob.seniority" (ngModelChange)="onFieldChange('seniority', $event)" />
    </div>
  </mat-card-content>
</mat-card>
