.qualification-details {

  mat-card-content {
    padding-top: 16px;
  }
  
  .qualification-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
      flex: 0 0 100px;
    }

    div, input {
      flex: 1;
    }
  }
}
