<mat-card class="materials">
  <mat-card-header>
    <mat-card-title>Materials</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <ul>
      <li *ngFor="let material of selectedQualification?.materials_and_topics; let i = index">
        
        <input *ngIf="editMode" [(ngModel)]="material.title" placeholder="Title" />
        <input *ngIf="editMode" [(ngModel)]="material.authors" placeholder="Authors" />
        <input *ngIf="editMode" [(ngModel)]="material.subjects" placeholder="Topics & Subjects" />


        <p *ngIf="!editMode">{{ material.title }}</p>
        <p *ngIf="!editMode">{{ material.authors }}</p>
        <p *ngIf="!editMode">{{ material.subjects }}</p>

        <button *ngIf="editMode" (click)="removeMaterial(i)">Remove</button>
      </li>
    </ul>
    <button *ngIf="editMode" (click)="addMaterial()">Add Material</button>
  </mat-card-content>
</mat-card>

