.jobs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.jobs-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.jobs-tree,
.experiences,
.qualifications {
  height: 100%;
  display: flex;
  flex-direction: column;
}
