.jobs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.jobs-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.experience-column, .qualifications-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.nojobselected-column {
  flex: 2;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .jobs-column {
    flex: 1 1 33.33%;
  }

  .experience-column, .qualifications-column {
    flex: 1 1 33.33%;
  }

  .nojobselected-column {
    flex: 2 1 66.66%;
  }
}
