<mat-toolbar color="primary" class="top-nav">
  <button mat-icon-button (click)="toggleMenu($event)">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['/']">
    <img src="/assets/logo.png" alt="Logo" class="logo">
  </a>
  <span>Jobs & Qualifications Browser</span>
  <span class="spacer"></span>
  
  <div class="right-buttons">
    <div class="toggle-container">
      <mat-slide-toggle (change)="toggleEditMode($event)">Edit mode</mat-slide-toggle>
    </div>
    <div class="button-container">
      <button mat-button (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
        <span class="button-text">Settings</span>
      </button>
    </div>
    <div class="button-container">
      <button mat-button (click)="openExport()" matBadge="changes" matBadgeSize="small" [matBadgeHidden]="noChanges">
        <mat-icon>upload</mat-icon>
        <span class="button-text">Export</span>
      </button>
    </div>
    <div class="button-container">
      <button mat-button [matMenuTriggerFor]="sourcesMenu" matBadge="changes" matBadgeSize="small" [matBadgeHidden]="noChanges">
        <mat-icon>code_blocks</mat-icon>
        <span class="button-text">Github</span>
      </button>
      <mat-menu #sourcesMenu="matMenu">
        <a mat-menu-item [href]="jobsUrl" target="_blank">Jobs YAML</a>
        <a mat-menu-item [href]="qualificationsUrl" target="_blank">Qualifications YAML</a>
        <mat-divider></mat-divider>
        <a mat-menu-item href="https://github.com/valor-labs/valor-jobs-browser" target="_blank">This app original repository</a>
        <a mat-menu-item href="https://github.com/valor-labs/valor-jobs" target="_blank">Jobs and Qualifications original repository</a>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
