.right-buttons {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.toggle-container,
.button-container {
  display: flex;
  align-items: center;
  margin-left: 20px; /* Adjust as needed for spacing */
}

.button-container button {
  display: flex;
  align-items: center;
}

.mat-slide-toggle-content {
  display: flex;
  align-items: center;
}

.button-text {
  margin-left: 5px; /* Adjust as needed for spacing between icon and text */
}
