.qualifications-tree {
  mat-card-content {
    padding-top: 16px;
  }
  
  .mat-tree-node {
    &.selected {
      background-color: #e0e0e0;
      border-left: 3px solid #3f51b5;
    }
  }
}



.tree-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}  

.mat-card-title {
  margin-right: auto;
}

.add-button {
  margin-left: 16px; // Adjust as necessary
  height: 36px; // Ensure button height aligns with title text
  width: 36px; // Keep the button square
  display: flex;
  align-items: center;
  justify-content: center;
}