<mat-card class="knowledge">
  <mat-card-header>
    <mat-card-title>Knowledge</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let knowledge of selectedQualification?.knowledge; let i = index">
        <div *ngIf="editMode" [appContenteditable]="editMode" class="editable" (contentChange)="updateKnowledge($event, i)">{{ knowledge }}</div>

        <p *ngIf="!editMode">{{ knowledge }}</p>
        <button *ngIf="editMode" (click)="removeKnowledge(i)">Remove</button>
      </li>
    </ul>
    <button *ngIf="editMode" (click)="addKnowledge()">Add Knowledge</button>
  </mat-card-content>
</mat-card>