<div class="qualifications-container">
  <div class="tree-column">
    <app-qualifications-tree [qualificationsList]="list" [editMode]="editMode" (qualificationSelected)="onQualificationSelected($event)"></app-qualifications-tree>
  </div>
  <div class="grid-container" *ngIf="selectedQualification">
    <div class="column1">
      <app-qualification-details class="details" [selectedQualification]="selectedQualification" [editMode]="editMode"></app-qualification-details>
      <app-qualifications-knowledge lass="knowledge" [selectedQualification]="selectedQualification" [editMode]="editMode"></app-qualifications-knowledge>
    </div>
    <div class="column2">
      <app-qualifications-dependency class="dependency" [selectedQualification]="selectedQualification" [editMode]="editMode"></app-qualifications-dependency>
      <app-qualifications-materials class="materials" [selectedQualification]="selectedQualification" [editMode]="editMode"></app-qualifications-materials>
    </div>
  </div>
  <div class="nothingselected-column" *ngIf="!selectedQualification">
    Please select any qualification.
  </div>
</div>
