<div class="qualifications-container">
  <div class="tree">
    <app-qualifications-tree (qualificationSelected)="onQualificationSelected($event)"></app-qualifications-tree>
  </div>
  <div class="grid-container" *ngIf="selectedQualification">
    <div class="details">
      <app-qualification-details [selectedQualification]="selectedQualification" [editMode]="editMode"></app-qualification-details>
    </div>
    <div class="knowledge">
      <app-qualifications-knowledge [selectedQualification]="selectedQualification" [editMode]="editMode"></app-qualifications-knowledge>
    </div>
    <div class="dependency">
      <app-qualifications-dependency [selectedQualification]="selectedQualification" [editMode]="editMode"></app-qualifications-dependency>
    </div>
    <div class="materials">
      <app-qualifications-materials [selectedQualification]="selectedQualification" [editMode]="editMode"></app-qualifications-materials>
    </div>
  </div>
  <div class="noqualification-column" *ngIf="!selectedQualification">
    Please select any qualification.
  </div>
</div>
