/* Global styles */
html, body, app-root {
  height: 100vh;
  margin: 0;
  overflow: hidden; // Prevent body from scrolling
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
  height: 100%;
}
