<mat-card class="dependencies">
  <mat-card-header>
    <mat-card-title>Dependencies</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li *ngFor="let dependency of selectedQualification?.dependency; let i = index">
        <input *ngIf="editMode" [(ngModel)]="dependency.title" placeholder="Dependent on Qualification" />
        <input *ngIf="editMode" [(ngModel)]="dependency.level" placeholder="Level" />

        <p *ngIf="!editMode">
          <a [routerLink]="['/qualifications', dependency.title, dependency.level]">
            {{ dependency.title }}: Level {{ dependency.level }}
          </a>
        </p>

        <button *ngIf="editMode" (click)="removeDependency(i)">Remove</button>
      </li>
    </ul>
    <button *ngIf="editMode" (click)="addDependency()">Add Dependency</button>
  </mat-card-content>
</mat-card>